.wknd-bg{
	background-color: red;
    }
.navbar .navbar-nav .nav-link {
        color: #ffffff;
}
.navbar .navbar-nav .nav-link:hover {
        color: #ffffffff;
}
.navbar .navbar-nav .nav-item {
        position: relative;
}
.navbar .navbar-nav .nav-item::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ffffffff;
        width: 0%;
        content: "";
        height: 3px;
        transition: all 0.5s;
}
.navbar .navbar-nav .nav-item::after {
    transition: all 0.5s;
  }      
.navbar .navbar-nav .nav-item:hover::after {
        width: 100%;
      }
.cmp-tabs__tab--active {
        border-color: inherit !important;
        /* background: #896633 !important;
        color:white !important; */
        color: #896633 !important;
        background: white !important;
      }
.cmp-tabs__tab__main{
      box-sizing: border-box;
    border-bottom: 1px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
}
.cmp-tabs__tab__main--active {
        color: #896633 !important;
        background: #f2f2f2 !important;
 }
 .container-yellow {
        background:yellow;
 }
 .container-pink {
        background:pink;
 }

 /* Main page happening section*/
.main_happening_section_blue {
    background: lightcyan;
    color: darkblue;
}

.main_happening_section_pink {
        background: #f5e5fa;
        color: #6e0404;
}

.text_with_center_gold {
        color: #896633 !important;
}
.text_with_center_blue {
        color: #15045b !important;
}
.text_with_center_red {
        color: #c40000 !important;
}
.text_with_center_voilate {
        color: #5c0079 !important;
}