<h2>Kalesha Custom Component First</h2>
<div data-sly-use.kalesha="com.adobe.aem.guides.wknd.core.models.CustomComponentFirst"></div>

    <div>First Name :  ${kalesha.firstName} </div>
    <div>Lasr Name :  ${kalesha.lastName}   </div>
    <div>Is Indain:  ${kalesha.isProfessor}  </div>
    <div>Password :  ${kalesha.password} </div>
    <div>Last Modified Date :  ${kalesha.lastModified}  </div>
    <div>Last Modified By :  ${kalesha.lastModifiedBy}  </div>
    <div> <img src="${kalesha.imagePath}" alt="User-Profile-Image" width="200px" height="200px"> </div>
    
