<nav class="navbar navbar-inverse" style="margin-bottom: 0px !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/bin/taj-hotels">
        <img alt="Brand" style="width: 4.5rem;height: 3rem;" src="https://www.tajhotels.com/content/dam/tajhotels/icons/style-icons/logo--Taj.png">
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler9">
      <ul class="nav navbar-nav" style="color:white !important; font-size: 12px;margin-top: 5px !important;margin-bottom: 5px !important;margin-left: 35px !important;">
        <li class="nav-item"><a class="nav-link" href="/bin/comingsoon">OUR HOTELS</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/taj-dining">DINING</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/taj-weddings">WEDDINGS</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/taj-giftcards">GIFT CARDS</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/taj-holiday">TAJ HOLIDAYS</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/comingsoon">MEMBERSHIP PROGRAMS</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/comingsoon">MANAGE BOOKING</a></li>
        <li class="nav-item"><a class="nav-link" href="/bin/comingsoon">OUR HOTELS</a></li>
      </ul>
    </div>
  </div>
</nav>
